@model IEnumerable<MenuItem>

<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">首页</a>
    </li>
    @foreach (var item in Model)
    {
        <li class="nav-item">
            <a class="nav-link text-dark" href="@item.Url">@item.Name</a>
        </li>
    }
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">隐私</a>
    </li>
</ul>