@{
    ViewData["Title"] = "Home Page";
}


<div class="jumbotron">
  <div class="container">
    <h1>欢迎光临 城信统一认证中心</h1>
    <p>城信统一认证中心发布了<a href="~/.well-known/openid-configuration">发现文档</a>,在文档中可以找到所有终节点的元数据、链接等关键材料。</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">了解更多</a></p>
  </div>
</div>

<div class="text-center feature-head">
     <h1>欢迎使用统一认证中心</h1>
      <p>统一认证中心为您提供基于OpenId Connect、OAuth2等多种协议的认证框架，还提供LDAP的支持。</p>
</div>
<div class="row">
    <div class="col-lg-4 col-sm-4">
        <section>
            <div class="f-box">
                <i class="oi oi-info"></i>
                <h2>基于IdentityServer4</h2>
            </div>
            <p class="f-text">基于IdentityServer4框架开发。</p>
        </section>
    </div>
    <div class="col-lg-4 col-sm-4">
        <section>
            <div class="f-box active">
                <i class="oi oi-star"></i>
                <h2>支持多种认证协议</h2>
            </div>
            <p class="f-text">支持OpenID Connect、OAuth2等多种协议。</p>
        </section>
    </div>
    <div class="col-lg-4 col-sm-4">
        <section>
            <div class="f-box">
                <i class="oi oi-tag"></i>
                <h2>易于集成</h2>
            </div>
            <p class="f-text">能够为各种应用提供基础的认证支持。</p>
        </section>
    </div>
</div>
